# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vs/
*.csproj
*.sln
*.user
*.suo

# Unity
/Library/
/Temp/
/Obj/
/Build/
/Builds/
/Logs/
/UserSettings/
/MemoryCaptures/

# Crashlytics
crashlytics-build.properties
